ipykernel==5.1.2
ipynb==0.5.1
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyter-math==0.0.4
jupyter-server==1.0.4
jupyterlab-pygments==0.1.2
Markdown==3.1.1
MarkupSafe==1.1.1
mpld3==0.5.2
mpmath==1.1.0
nbclient==0.5.0
nbconvert==5.6.0
nbformat==4.4.0
nbinteract==0.2.5
notebook==6.0.1
numpy==1.19.2
numpydoc==0.7.0
pandas==1.1.2
pandocfilters==1.4.2
pickleshare==0.7.5
progress==1.5
prompt-toolkit==2.0.9
PuLP==2.3
pycparser==2.18
Pygments==2.4.2
pyOpenSSL==17.5.0
pyparsing==2.2.0
PyQt5==5.9.2
python-dateutil==2.8.0
qtconsole==4.5.5
tqdm==4.50.0
traitlets==4.3.2
traittypes==0.2.1
typing==3.6.4
Unidecode==1.1.1
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.1
xlrd==1.2.0