ipykernel==5.1.2
ipynb==0.5.1
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyter-math==0.0.4
jupyter-server==1.0.4
mpld3==0.5.2
nbclient==0.5.0
nbconvert==5.6.0
nbformat==4.4.0
nbinteract==0.2.5
notebook==6.0.1
numpy==1.19.2
pandas==1.1.2
pickleshare==0.7.5
PuLP==2.3
tqdm==4.50.0
xlrd==1.2.0